{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Empresa cliente</td>
			<td>Contacto empresa</td>
			<td>Nombre oportunidad de negocio</td>
			<td>Monto de la oportunidad</td>
			<td>Estado de la oportunidad</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for oportunidad in object_list %}
		<tr>
			<td>{{ oportunidad.empresa_cliente }}</td>
			<td>{{ oportunidad.contacto_empresa }}</td>
			<td>{{ oportunidad.nombre_oportunidad }}</td>
			<td>{{ oportunidad.monto_oportunidad }}</td>
			<td>{{ oportunidad.estado }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'oportunidad:oportunidad_editar' oportunidad.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'oportunidad:oportunidad_eliminar' oportunidad.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de oportunidades</h1>
		{% endif %}
	</tbody>
</table> 
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul>
{% endblock%}